{% extends 'base.html' %}
{% block body %}
{% load static %}

    <div id="main-wrapper">
        <div class="site-wrapper-reveal">
            <div class="about-banner-wrap banner-space about-us-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 m-auto">
                            <div class="about-banner-content text-center">
                                <h1 class="mb-15 text-white">About Mitech</h1>
                                <h5 class="font-weight--normal text-white">Mitech specializes in technological and IT-related services such as product engineering, warranty management, building cloud, infrastructure, network, etc. </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--===========  feature-large-images-wrapper  Start =============-->
            <div class="feature-large-images-wrapper section-space--ptb_100">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-12">
                            <!-- section-title-wrap Start -->
                            <div class="section-title-wrap text-center section-space--mb_60">
                                <h6 class="section-sub-title mb-20">Our company</h6>
                                <h3 class="heading">We run all kinds of IT services that <br> vow your <span class="text-color-primary"> success</span></h3>
                            </div>
                            <!-- section-title-wrap Start -->
                        </div>
                    </div>

                    <div class="cybersecurity-about-box section-space--pb_70">
                        <div class="row">
                            <div class="col-lg-4 offset-lg-1">
                                <div class="modern-number-01">
                                    <h2 class="heading  me-5"><span class="mark-text">38</span>Years’ Experience in IT</h2>
                                    <h6 class="heading mt-30">More About Our Success Stories</h6>
                                </div>
                            </div>

                            <div class="col-lg-5 offset-lg-1">
                                <div class="cybersecurity-about-text">
                                    <div class="text">Mitech specializes in technological and IT-related services such as product engineering, warranty management, building cloud, infrastructure, network, etc. We put a strong focus on the needs of your business to figure out solutions that best fits your demand and nail it.</div>
                                    <div class="button-text">
                                        <a href="#" class="btn-text">
                                            Discover now
                                            <span class="button-icon ml-1">
                                    <i class="far fa-long-arrow-right"></i>
                                </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <div class="feature-images__six">
                                <div class="row">
                                    {% for data in projectabour_data %}
                                    <div class="col-lg-4 col-md-6 wow move-up animated" style="visibility: visible;">
                                        <!-- ht-box-icon Start -->
                                        <div class="ht-box-images style-06">
                                            <div class="image-box-wrap">
                                                <div class="box-image">
                                                    <div class="default-image">
                                                        <img class="img-fulid" src="{{ data.image.url }}" alt="">
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h5 class="heading">{{ data.title }}</h5>
                                                    <div class="text">{{ data.description }}
                                                    </div>
                                                    <a href="#" class="box-images-arrow">
                                                        <span class="button-text">Discover now</span>
                                                        <i class="far fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ht-box-icon End -->
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="section-under-heading text-center section-space--mt_60">Challenges are just opportunities in disguise. <a href="#">Take the challenge!</a></div>

                        </div>
                    </div>
                </div>
            </div>
            <!--===========  feature-large-images-wrapper  End =============-->




            <!--========= About Resources Wrapper Start ===========-->
            <div class="about-resources-wrapper">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <div class="resources-left-box">
                                <div class="resources-inner">
                                    <h6 class="sub-title mb-20">Resources</h6>
                                    <h3 class="heading">Get a copy of brochure on <span class="text-color-primary"> Brand New IT Tech.</span></h3>
                                    <div class="button mt-30">
                                        <a href="#" class="ht-btn ht-btn-md">Download now (3MB)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2">
                            <div class="resources-right-box">
                                <div class="resources-right-inner text-center">
                                    <div class="resources-images">
                                        <img class="img-fluid" src="assets/images/banners/managed-it-services-book-cover.webp" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--========= About Resources Wrapper End ===========-->
            <!--========= About Delivering Wrapper Start ===========-->
            <div class="about-delivering-wrapper section-space--ptb_100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title-wrap text-center section-space--mb_20">
                                <h3 class="heading">We excel in delivering <br>optimal solutions.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="delivering-optimal-wrap">
                                <div class="list-item">
                                    <div class="marker"></div>
                                    <div class="title-wrap">
                                        <h5 class="title"> Warranty Management IT </h5>
                                        <div class="desc">Our service offerings enhance customer experience throughout secure &amp; highly functional end-to-end warranty management. </div>
                                    </div>
                                </div>
                                <div class="list-item">
                                    <div class="marker"></div>
                                    <div class="title-wrap">
                                        <h5 class="title"> Quality Control System </h5>
                                        <div class="desc">It's more than a responsibility but a guarantee from us to gain customer trust with highly reliable quality control system. </div>
                                    </div>
                                </div>
                                <div class="list-item">
                                    <div class="marker"></div>
                                    <div class="title-wrap">
                                        <h5 class="title">Highly Professional Staffs </h5>
                                        <div class="desc">Having obtained the official &amp; formal training in IT technology and technical fields, our staffs know more than what they show. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="delivering-optimal-wrap">
                                <div class="list-item">
                                    <div class="marker"></div>
                                    <div class="title-wrap">
                                        <h5 class="title">Product Engineering &amp; Services </h5>
                                        <div class="desc">Develop and propose product improvements through periodical and accurate testing, repairing &amp; refining every version. </div>
                                    </div>
                                </div>
                                <div class="list-item">
                                    <div class="marker"></div>
                                    <div class="title-wrap">
                                        <h5 class="title">Infrastructure Integration Technology </h5>
                                        <div class="desc">At Mitech, we have a holistic and integrated approach towards core modernization to experience technological evolution. </div>
                                    </div>
                                </div>
                                <div class="list-item">
                                    <div class="marker"></div>
                                    <div class="title-wrap">
                                        <h5 class="title">Information Security Management </h5>
                                        <div class="desc">Information security has been a rising issue lately due to a series of scandals from big companies, rest assured, we're here. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--=========== fun fact Wrapper Start ==========-->
            <div class="fun-fact-wrapper bg-theme-default section-space--pb_30 section-space--pt_60">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 wow move-up animated" style="visibility: visible;">
                            <div class="fun-fact--two text-center">
                                <div class="fun-fact__count counter">120</div>
                                <h6 class="fun-fact__text">Happy clients</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow move-up animated" style="visibility: visible;">
                            <div class="fun-fact--two text-center">
                                <div class="fun-fact__count counter">32</div>
                                <h6 class="fun-fact__text">Finished projects</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow move-up animated" style="visibility: visible;">
                            <div class="fun-fact--two text-center">
                                <div class="fun-fact__count counter">73</div>
                                <h6 class="fun-fact__text">Skilled Experts</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow move-up animated" style="visibility: visible;">
                            <div class="fun-fact--two text-center">
                                <div class="fun-fact__count counter">318</div>
                                <h6 class="fun-fact__text">Media Posts</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--=========== fun fact Wrapper End ==========-->
                        <!--====================  testimonial section ====================-->
                        <div class="testimonial-slider-area bg-gray section-space--ptb_100">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-title-wrap text-center section-space--mb_40">
                                            <h6 class="section-sub-title mb-20">Testimonials</h6>
                                            <h3 class="heading">What do people praise about <span class="text-color-primary"> Mitech?</span></h3>
                                        </div>
                                        <div class="testimonial-slider">
                                            <div class="swiper-container testimonial-slider__container swiper-container-initialized swiper-container-horizontal">
                                                <div class="swiper-wrapper testimonial-slider__wrapper" style="transform: translate3d(-289px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" style="width: 259px; margin-right: 30px;" data-swiper-slide-index="3">
                                                        <div class="testimonial-slider__one wow move-up" style="visibility: hidden; animation-name: none;">
            
                                                            <div class="testimonial-slider--info">
                                                                <div class="testimonial-slider__media">
                                                                    <img src="{%static 'assets/images/testimonial/mitech-testimonial-avata-01-90x90.webp'%}" class="img-fluid" alt="">
                                                                </div>
            
                                                                <div class="testimonial-slider__author">
                                                                    <div class="testimonial-rating">
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                    </div>
                                                                    <div class="author-info">
                                                                        <h6 class="name">Abbie Ferguson</h6>
                                                                        <span class="designation">WEB DESIGNER</span>
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                            <div class="testimonial-slider__text">I’ve been working with over 35 IT companies on more than 200 projects of our company, but @Mitech is one of the most impressive to me.</div>
            
                                                        </div>
                                                    </div>
                                                    {% for data in testimonial_data %}
                                                    <div class="swiper-slide swiper-slide-active" style="width: 259px; margin-right: 30px;" data-swiper-slide-index="0">
                                                        <div class="testimonial-slider__one wow move-up" style="visibility: hidden; animation-name: none;">
            
                                                            <div class="testimonial-slider--info">
                                                                <div class="testimonial-slider__media">
                                                                    <img src="{{ data.image.url }}" class="img-fluid" alt="">
                                                                </div>
            
                                                                <div class="testimonial-slider__author">
                                                                    <div class="testimonial-rating">
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                    </div>
                                                                    <div class="author-info">
                                                                        <h6 class="name">{{ data.title}}</h6>
                                                                        <span class="designation">{{ data.short_name}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                            <div class="testimonial-slider__text">{{ data.description}}</div>
            
                                                        </div>
                                                    </div>
                                                    {% endfor %}
            
                                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" style="width: 259px; margin-right: 30px;" data-swiper-slide-index="0">
                                                        <div class="testimonial-slider__one wow move-up" style="visibility: hidden; animation-name: none;">
            
                                                            <div class="testimonial-slider--info">
                                                                <div class="testimonial-slider__media">
                                                                    <img src="{%static 'assets/images/testimonial/mitech-testimonial-avata-02-90x90.webp'%}" class="img-fluid" alt="">
                                                                </div>
            
                                                                <div class="testimonial-slider__author">
                                                                    <div class="testimonial-rating">
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                    </div>
                                                                    <div class="author-info">
                                                                        <h6 class="name">Abbie Ferguson</h6>
                                                                        <span class="designation">Marketing</span>
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                            <div class="testimonial-slider__text">I’ve been working with over 35 IT companies on more than 200 projects of our company, but @Mitech is one of the most impressive to me.</div>
            
                                                        </div>
                                                    </div></div>
                                                <div class="swiper-pagination swiper-pagination-t01 section-space--mt_30 swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span></div>
                                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--====================  End of testimonial section  ====================-->

            <!--============ Contact Us Area Start =================-->
            <div class="contact-us-area infotechno-contact-us-bg section-space--pt_100">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="image">
                                <img class="img-fluid" src="{% static 'assets/images/banners/home-cybersecurity-contact-bg-image.webp'%}" alt="">
                            </div>
                        </div>

                        <div class="col-lg-4 ms-auto">
                            <div class="contact-info style-two text-left">

                                <div class="contact-info-title-wrap text-center">
                                    <h3 class="heading  mb-10">4.9/5.0</h3>
                                    <div class="ht-star-rating lg-style">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <p class="sub-text">by 700+ customers for 3200+ clients</p>
                                </div>

                                <div class="contact-list-item">
                                    <a href="tel:190068668" class="single-contact-list">
                                        <div class="content-wrap">
                                            <div class="content">
                                                <div class="icon">
                                                    <span class="fal fa-phone"></span>
                                                </div>
                                                <div class="main-content">
                                                    <h6 class="heading">Call for advice now!</h6>
                                                    <div class="text">0178825670</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="mailto:hello@mitech.com" class="single-contact-list">
                                        <div class="content-wrap">
                                            <div class="content">
                                                <div class="icon">
                                                    <span class="fal fa-envelope"></span>
                                                </div>
                                                <div class="main-content">
                                                    <h6 class="heading">Say hello</h6>
                                                    <div class="text">sahiruli716@gmail.com</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--============ Contact Us Area End =================-->

        </div>
{% endblock %}